@import 'bootstrap/mixins'
@import 'variables'

$shadow-color: rgba(#000, .5)
$blur-radius: 10px

html
  font-size: 16px
body
  position: absolute
  height: 100%
  width: 100%
  padding: 0
  @supports not (-webkit-touch-callout: none)
    background: url(image_path('background.jpg')) no-repeat center center fixed
    background-size: cover

  font-weight: 400
  -webkit-font-smoothing: antialiased

  h1, h2, h3
    font-family: 'Raleway', sans-serif

  #banner
    height: 100%
    width: 100%
    overflow: hidden
    display: flex
    align-items: center
    flex-direction: column
    --banner-bg: rgba(255,255,255,0.3)
    --backdrop-filter: blur(#{$blur-radius})
    --text-color: #{$text-color}
    --offset-top: 0

    #banner-text-container
      display: flex
      position: fixed
      top: 16.8%
      left: 0
      width: 100%
      justify-content: center
      margin-top: var(--offset-top);

    #banner-text
      background: var(--banner-bg)
      display: inline-flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%
      padding: 2rem
      color: var(--text-color)

      @media (min-width: $screen-md-min)
        width: auto
        height: auto
        border: 3px solid var(--banner-bg)

      @media (min-width: $screen-lg-min)
        padding: 4rem
      backdrop-filter: var(--backdrop-filter)
      -webkit-backdrop-filter: var(--backdrop-filter)

      h1, h2
        margin: 0
        padding: 0
        line-height: 1
      h1
        font-weight: 300
        font-size: clamp(3rem, 7vw, 7.5rem)
        text-transform: uppercase
        @media (min-width: $screen-md-min)
          font-weight: 100

      hr
        border: none
        border-top: 1px solid var(--text-color)
        width: 100%
        margin: 2rem 0
        @media (min-width: $screen-lg-min)
          margin: 4rem 0
      h2
        font-weight: 300
        font-size: clamp(1rem, 2vw, 2rem)

  #scroll-down
    position: relative
    margin-top: auto
    height: 2rem
    width: 2rem
    margin-bottom: 1rem

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      border: 1px solid var(--banner-bg)
      background-color: var(--banner-bg)
    &:before
      right: 4px
      @include rotate(45deg)
    &:after
      left: 4px
      @include rotate(-45deg)

  #content
    @include box-shadow(0 0 20px $shadow-color)
    padding: 0 0.5rem
    font-size: clamp(1rem, 2vw, 1.5rem)
    position: relative
    overflow: hidden

    background-color: rgba(255,255,255,.75)
    backdrop-filter: blur($blur-radius)
    -webkit-backdrop-filter: blur($blur-radius)

    @supports (-webkit-touch-callout: none)
      -webkit-backdrop-filter: none
      background-color: #fff

    @media (min-width: $screen-md-min)
      padding: 0

    position: relative
    z-index: 10

    .section
      margin-bottom: 1rem
      @media (min-width: $screen-md-min)
        margin-bottom: 4rem
      font-weight: 300

      h3
        text-transform: uppercase
        font-size: clamp(2rem, 3vw, 4rem)
        font-weight: 300
        @media (min-width: $screen-md-min)
          font-weight: 100
        margin-top: 2rem
        margin-bottom: 1rem
        line-height: 1

      .img-container
        margin-bottom: $grid-gutter-width

  footer
    padding: 0 1rem
    background-color: rgba(#000,.95)
    .media-links
      position: relative
      z-index: 10
      margin: 0
      font-size: 24px
      @media (min-width: $screen-md-min)
        font-size: 40px
      line-height: 1
      text-align: center
      padding: 1rem 0
      li
        line-height: 1
        display: inline-block
        a
          color: #fff
          opacity: 0.3
          @include transition(opacity 0.2s linear)
        a:hover
          text-decoration: none
          opacity: 1
      li + li
        margin-left: 1rem