$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-decoration: none;

$text-color: rgba(0, 0, 0, 0.75);
$primary: #009cff;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/helpers";

@import "~bootstrap/scss/utilities/api";

$shadow-color: rgba(#000, .5);
$blur-radius: 10px;

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;

  @supports not (-webkit-touch-callout: none) {
    background: url('/assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
  }

  #banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    --banner-bg: rgba(255, 255, 255, 0.3);
    --backdrop-filter: blur(#{$blur-radius});
    --text-color: var(--bs-text-color);
    --offset-top: 0;

    #banner-text-container {
      display: flex;
      position: fixed;
      top: 16.8%;
      left: 0;
      width: 100%;
      justify-content: center;
      margin-top: var(--offset-top);
    }

    #banner-text {
      background: var(--banner-bg);
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 2rem;
      color: var(--text-color);
      backdrop-filter: var(--backdrop-filter);

      @include media-breakpoint-up(md) {
        width: auto;
        height: auto;
        border: 3px solid var(--banner-bg);
      }

      @include media-breakpoint-up(lg) {
        padding: 4rem;
      }

      h1, h2 {
        margin: 0;
        padding: 0;
        line-height: 1;
      }

      h1 {
        font-weight: 300;
        font-size: clamp(3rem, 7vw, 7.5rem);
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          font-weight: 100;
        }
      }

      hr {
        border: none;
        border-top: 1px solid var(--text-color);
        width: 100%;
        margin: 2rem 0;

        @include media-breakpoint-up(lg) {
          margin: 4rem 0;
        }
      }

      h2 {
        font-weight: 300;
        font-size: clamp(1rem, 2vw, 2rem);
      }
    }
  }

  #scroll-down {
    position: relative;
    margin-top: auto;
    height: 2rem;
    width: 2rem;
    margin-bottom: $spacer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      border: 1px solid var(--banner-bg);
      background-color: var(--banner-bg);
    }

    &:before {
      right: 4px;
      transform: rotate(45deg);
    }

    &:after {
      left: 4px;
      transform: rotate(-45deg);
    }
  }

  #content {
    box-shadow: 0 0 20px $shadow-color;
    position: relative;
    overflow: hidden;

    padding: $spacer 0;

    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur($blur-radius);

    @supports (-webkit-touch-callout: none) {
      -webkit-backdrop-filter: none;
      background-color: #fff;
    }

    @include media-breakpoint-up(md) {
      padding: $spacer * 2 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include media-breakpoint-up(md) {
        gap: 4rem;
      }
    }

    position: relative;
    z-index: 10;

    .section {
      font-weight: 300;
      font-size: clamp(1rem, 2vw, 1.5rem);

      h3 {
        text-transform: uppercase;
        font-size: clamp(2rem, 3vw, 4rem);
        font-weight: 300;

        margin-bottom: 1rem;
        line-height: 1;
      }
    }
  }
}
